# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# to use GPU
torch

# Streamlit for Web Interface
streamlit

# for structured output
pydantic
typing-extensions

# to see chains graph
grandalf

# Document Loaders
langchain-community

# PDF Loaders
pypdf
beautifulsoup4
requests

# LangChain Experimental
langchain-experimental

# Vector Stores
chromadb
tiktoken
sentence-transformers
faiss-cpu 
wikipedia
ipykernel

# YouTube Transcript
youtube-transcript-api

# Additional LangChain Experimental Features
langchain_experimental

# Web Search Capabilities
duckduckgo-search

# Additional Libraries for Web and HTTP Requests
requests